@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:ital,wght@1,300&family=Roboto:wght@400;500&display=swap');

@font-face {
    font-family: 'android';
    src: url('./fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{

    --cor0: #18E000;
    --cor1: #31AD23;
    --cor2: #387A31;
    --cor3: #2E472B;
    --cor4: #2A3329;

    --fonte-padrao: Arial, verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Roboto', cursive;
    --fonte-android: 'android', cursive;
    
}

*{

    margin: 0px;
    padding: 0px;

}

body{

background-color: #C3EBD3;
font-family: var(--fonte-destaque);

}

header{

background-color: rgb(33, 116, 33);
min-height: 150px;
text-align: center;
padding-top: 40px;
background-image: linear-gradient(to bottom, var(--cor0), var(--cor2));

}

header > h1{
color: white;
font-family: var(--fonte-destaque);
margin-bottom: 20px;
text-shadow: 0px 0px 10px #49e20cb2;
font-size: 3em;

}

header > p {

color: white;
font-size: 1.2em;

}

nav{

background-color: rgba(0, 128, 0, 0.63);
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);

}

nav > a{

padding: 5px;
color: white;
font-weight: bold;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;

}

nav > a:hover{

background-color: #32af24;
color: rgb(18, 126, 18);
transition-duration: 0.5s;
border-radius: 5px;
}

main{

margin: auto;
padding: 20px;
background-color: white;
min-width: 280px;
max-width: 800px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438) ;

border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;

}

main p{

line-height: 2em;
margin: 0px 6px;
text-align: justify;
text-indent: 30px;

}

main strong{

    color: var(--cor1);
    font-weight: bold;
}

main a{

background-color: var(--cor0);
color: var(--cor3);
text-decoration: none;
font-weight: bold;

}

a.externo::after{

content: '\00A0\F517';

}

main img{

width: 100%;

}

main img.pequeno{

max-width: 320px;
display: block;
margin: auto;

}

article > h1{

font-family: var(--fonte-destaque);
color:var(--cor0);

}

h2{

font-family: var(--fonte-android);
color: var(--cor1);
font-size: 1.3em;
background-image: linear-gradient(to right, var(--cor0), transparent);
text-indent: 6px;

}

.video{

background-color:#31AD23;
margin: 0px -20px 30px -20px;
padding: 20px;
padding-bottom: 60%;

position: relative;

}

.video > iframe{

position: absolute;
top: 5%;
left: 5%;

width: 90%;
height: 90%;

}

h3{

font-family: var(--fonte-destaque);
color: var(--cor0);

}

aside{

background-color: #79f17f;
border-radius: 10px 10px 10px 10px;
box-shadow: 6px 0px 8px rgba(0, 0, 0, 0.438);

}

aside h3{

background-color: green;
padding: 10px;
border-radius: 10px 10px 0px 0px;

}

aside > ul{

list-style-position: inside;
padding: 10px;
columns: 2;
list-style-type: '\2714\00A0';

}

aside a{

    content: '\00A0\F517';

}

footer{

background-color: var(--cor3);
color: white;
text-align: center;
padding: 10px;

}

